@font-face {
    font-family: Margarine-Regular;
    src: url(Assets/Margarine-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main > section:not(.carrosel) {
    margin: 20px 40px;
}

.flex,
.carrosel,
.flyers,
.flyers .sectionLeft,
.flyers .sectionRight {
    display: flex;
}

.carrosel,
.flyers .sectionLeft,
.flyers .sectionRight {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}

.carrosel p:first-child,
.flyers .sectionLeft p:first-child,
.flyers .sectionRight p:first-child {
    margin: 20px 0px 0px ;
    font-family: Margarine-Regular;
}

/* No Responsive - ROVISORY*/
.carrosel p:last-child,
.flyers .sectionLeft p:last-child,
.flyers .sectionRight p:last-child {
    margin: 0px 0px 40px ;
    white-space: nowrap;
}

.box {
    width: 57%;
    color: white;
    margin: auto 0px auto 80px;
    padding: 20px 50px;
    position: relative;
    transform: rotate(-5deg);
    background: linear-gradient( 180deg, #F47373 0%, #BF4545 100%);
    border-radius: 50%;
    text-align: center;
}

.box p {
    transform: rotate(5deg);
    font-size: x-large;
    text-transform: uppercase;
}

.box span {
    position: absolute;
    top: 20px;
    right: 25%;
    padding: 15px;
    width: 190px;
    font-size: 20px;
    background: #A83E3E;
    font-family: Margarine-Regular;
    border-radius: 10px;
    letter-spacing: 5px;
}

.carrosel p:first-child{
    font-size: 30px;
}

.carrosel img {
    width: 40%;
    padding: 0px 50px 0px 0px;
    margin-right: auto;
}

.carrosel button{
    color:white;
    border: none;
    margin: auto 0px;
    height: fit-content;
    padding: 0px 15px 6px;
    font-size: xx-large;
    background: #f47373a8;
    font-weight: bolder;

    border-radius: 50%;
}

.carrosel button:first-child{
    margin-left: 40px;
}

.carrosel button:last-child{
    margin-right:40px;
}

.flyers {
    gap: 36px;
}

.flyers section {
    position: relative;
}

.flyers .sectionLeft,
.flyers .sectionRight {
    width: 50%;
    padding: 60px 50px;
    border-radius: 20px;
}

.flyers .sectionLeft {
    margin-left: auto;
}

.flyers .sectionRight {
    margin-right: auto;
}

.flyers .sectionLeft .box,
.flyers .sectionRight .box {
    padding-top: 30px;
    margin-right: 100px;
    margin-left: 10px;
    padding: 10px;
}

.flyers img {
    position: absolute;
    width: 35%;
    top: 0px;
    right: 35px;
}

.animalsCategory {
    margin-top: 40px;
}

.animalsIcon {
    gap: 15px;
    margin: 0px auto;
}

.circleIcon {
    margin: 0px 20px;
    padding: 35px 5px;
    background: green;
    border-radius: 50%;
}

.section5 {
    gap: 16px;
    width: fit-content;
    margin: 10px auto;
    display: grid;
    text-align: center;
}

.product {
    grid-area: 1
}

.product div {
    margin: 0px auto;
    padding: 100px 85px;
    background: green;
}

.sectionStore {
    width: fit-content;
    margin: 90px auto;
}

.product1 {
    grid-row: 1 / span 2;
}

.product1 .photo {
    padding: 140px 80px;
}