* {
    margin: 0px;
    padding: 0px;
}

.main1,
.main2,
.main3,
.main4 {
    margin: 20px 40px;
}

.flex,
.box1,
.box2,
.box3 {
    display: flex;
}

.box2 {
    margin-left: auto;
}

.box3 {
    margin-right: auto;
}

.box1 img {
    margin-right: auto;
}

.box_discover {
    padding: 120px;
    background: green;
    transform: rotate(-5deg);
    padding: 20px 50px;
    border-radius: 50%;
    color: white;
    text-align: center;
    margin: 10px 0px;
    margin-left: auto;
    font-size: 18px;
    width: 57%;
}

.box_discover p {
    margin: 10px 0px;
    transform: rotate(5deg);
}

.box_discover span {
    padding: 10px 40px;
    background: black;
}

.box_cicle {
    gap: 15px;
    margin: 0px auto;
    text-align: center;
}

.circle {
    padding: 35px 5px;
    background: green;
    border-radius: 50%;
    margin: 0px 20px;
}

.main3 {
    margin-top: 40px;
}

.main4 {
    width: fit-content;
    margin: 90px auto;
    gap: 16px;
    text-align: center;
}

.main5 {
    width: fit-content;
    margin: 10px auto;
    gap: 16px;
    text-align: center;
    display: grid;
}

.product {
    grid-area: 1
}

.product div {
    padding: 100px 85px;
    background: green;
    margin: 0px auto;
}

.mainStore {
    width: fit-content;
    margin: 90px auto;
}

.product1 {
    grid-row: 1 / span 2;
}
.product1 .photo{
    padding: 140px 80px;
}